@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Doto:wght@100..900&family=My+Soul&family=Sixtyfour&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

.start {
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Ballet", sans-serif;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  color: aqua;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  font-family: "Ceviche One", sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

/* DID word */

.didDLetter {
  color: red;
}

.didILetter {
  font-size: 25px;
  font-weight: normal;
  color: darkblue;
  font-family: sans-serif;
}

.didDTwoLetter {
  font-size: 60px;
  font-weight: 400;
  color: purple;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: "Sixtyfour", sans-serif;
}

/* THE word */

.theTLetter {
  color: navajowhite;
}

.theHLetter {
  font-size: 45px;
  color: lightsalmon;
  font-family: "Doto", sans-serif;
}

.theELetter {
  font-size: 40px;
  color: hotpink;
  font-family: "Piazzolla", sans-serif;
}

/* FRONT-END word */

.frontendFLetter {
  color: green;
}

.frontendRLetter {
  font-size: 68px;
  font-weight: 400;
  color: limegreen;
  text-transform: uppercase;
  font-family: "Raleway Dot", sans-serif;
}

.frontendOLetter {
  font-size: 40px;
  font-weight: 800;
  color: darkgreen;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "My soul", sans-serif;
}

.frontendNLetter {
  font-size: 40px;
  color: cyan;
  font-family: sans-serif;
}

.frontendTLetter {
  font-size: 30px;
  font-weight: bold;
  color: blue;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Ballet", sans-serif;
}

.frontendELetter {
  font-size: 45px;
  font-weight: bolder;
  color: orangered;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "Sixtyfour", sans-serif;
}

.frontendNTwoLetter {
  font-size: 25px;
  color: orange;
  text-decoration: line-through;
  font-family: sans-serif;
}

.frontendDLetter {
  font-size: 10;
  font-weight: 200;
  color: yellow;
  text-decoration: underline;
  font-family: "Doto", sans-serif;
}

/* DEVELOPER word */

.developerDLetter {
  color: rgb(60, 5, 60);
}
.developerELetter {
  font-size: 50px;
  font-weight: 400;
  color: rgb(130, 10, 145);
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "Piazzolla", sans-serif;
}
.developerVLetter {
  font-size: 35px;
  font-weight: 200;
  color: rgb(75, 10, 120);
  text-decoration: underline;
  text-transform: uppercase;
  font-family: sans-serif;
}
.developerETwoLetter {
  font-size: 40px;
  font-weight: 200;
  color: rgb(60, 5, 120);
  font-family: "My soul", sans-serif;
}
.developerLLetter {
  font-size: 35px;
  font-weight: 300;
  color: rgb(10, 5, 190);
  text-decoration: underline;
  font-family: "Sixtyfour", sans-serif;
}
.developerOLetter {
  font-size: 30px;
  font-weight: 300;
  color: rgb(0, 100, 150);
  text-decoration: overline;
  font-family: "My Soul", sans-serif;
}
.developerPLetter {
  font-size: 35px;
  font-weight: 700;
  color: rgb(50, 215, 200);
  font-family: "Doto", sans-serif;
}
.developerEThreeLetter {
  font-size: 60px;
  font-weight: 300;
  color: rgb(30, 200, 160);
  text-decoration: underline;
  font-family: sans-serif;
}
.developerRLetter {
  font-size: 35px;
  font-weight: 300;
  color: rgb(35, 230, 150);
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "My soul", sans-serif;
}

/* TAKE word */

.takeTLetter {
  color: red;
}
.takeALetter {
  font-size: 35px;
  font-weight: normal;
  color: rgb(210, 110, 15);
  font-family: "Sixtyfour", sans-serif;
}
.takeKLetter {
  font-size: 50px;
  font-weight: 200;
  color: hex(#ffffff);
  font-family: "My soul", sans-serif;
}
.takeELetter {
  font-size: 70px;
  font-weight: 700;
  color: rgb(190, 35, 10);
  font-family: "Raleway Dot", sans-serif;
}

/* UP word */

.upULetter {
  color: chocolate;
}
.upPLetter {
  font-size: 35px;
  font-weight: 700;
  color: brown;
  font-family: sans-serif;
}

/* GARDENING word */

.gardeningGLetter {
  color: green;
}
.gardeningALetter {
  font-size: 50px;
  color: lime;
  font-family: "doto", sans-serif;
}
.gardeningRLetter {
  color: rgb(50, 200, 50);
}
.gardeningDLetter {
  font-size: 40px;
  color: teal;
  font-family: "My soul", sans-serif;
}
.gardeningELetter {
  font-size: large;
  font-weight: 200;
  text-decoration: line-through;
  color: aqua;
  font-family: "Sixtyfour", sans-serif;
}
.gardeningNLetter {
  font-size: 60px;
  font-weight: 700;
  color: blue;
  font-family: "Raleway Dot", sans-serif;
}
.gardeningILetter {
  font-size: 50px;
  font-weight: 400;
  color: blueviolet;
  font-family: sans-serif;
}
.gardeningNTwoLetter {
  font-size: 40px;
  font-weight: 200;
  color: purple;
  font-family: "My soul", sans-serif;
}
.gardeningGTwoLetter {
  font-size: 30px;
  font-weight: 300;
  color: cyan;
  font-family: "Sixtyfour", sans-serif;
}

/* BECAUSE word */

.becauseBLetter {
  color: orangered;
}
.becauseELetter {
  font-size: 25px;
  color: orange;
  font-family: "Piazzolla", sans-serif;
}
.becauseCLetter {
  font-size: small;
  color: yellow;
  text-decoration: underline;
  font-family: "doto", sans-serif;
}
.becauseALetter {
  font-size: 60px;
  font-weight: 300;
  color: darkorange;
  text-decoration: overline;
  font-family: "Sixtyfour", sans-serif;
}
.becauseULetter {
  font-size: 20px;
  color: maroon;
  text-decoration: overline;
  font-family: sans-serif;
}
.becauseSLetter {
  font-size: 40px;
  color: darkgoldenrod;
  font-family: "My soul", sans-serif;
}
.becauseETwoLetter {
  font-size: 45px;
  font-weight: 200;
  color: yellow;
  font-family: "Raleway Dot", sans-serif;
}

/* THEY word */

.theyTLetter {
  color: deeppink;
}
.theyHLetter {
  font-size: 50px;
  font-weight: 600;
  color: deepskyblue;
  text-decoration: underline;
  font-family: "doto", sans-serif;
}
.theyELetter {
  font-size: 35px;
  font-weight: 200;
  color: lime;
  font-family: "My soul", sans-serif;
}
.theyYLetter {
  font-size: 45px;
  font-weight: 500;
  color: darkslategray;
  font-family: "Sixtyfour", sans-serif;
}

/* WANTED word */

.wantedWLetter {
  color: red;
}
.wantedALetter {
  font-size: 60px;
  font-weight: bold;
  color: darkred;
  font-family: sans-serif;
}
.wantedNLetter {
  font-size: 40px;
  font-weight: 300;
  color: maroon;
  font-family: "doto", sans-serif;
}
.wantedTLetter {
  font-size: 35px;
  color: orangered;
  font-family: "Sixtyfour", sans-serif;
}
.wantedELetter {
  font-size: 40px;
  font-weight: 500;
  color: rgb(250, 50, 50);
  font-family: "Piazzolla", sans-serif;
}
.wantedDLetter {
  font-size: 50px;
  color: brown;
  font-family: "My soul", sans-serif;
}

/* TO word */

.toTLetter {
  color: aqua;
}
.toOLetter {
  font-size: 40px;
  font-weight: 200;
  color: cyan;
  font-family: "My soul", sans-serif;
}

/* IMPROVE word */

.improveILetter {
  color: blue;
}
.improveMLetter {
  font-size: 50px;
  font-weight: 500;
  color: cyan;
  text-decoration: overline;
  font-family: "Piazzolla", sans-serif;
}

.improvePLetter {
  font-size: 40px;
  font-weight: 200;
  color: deepskyblue;
  font-family: "Raleway dot", sans-serif;
}
.improveRLetter {
  font-size: 50px;
  font-weight: 500;
  color: darkblue;
  font-family: "My soul", sans-serif;
}
.improveOLetter {
  font-size: 40px;
  font-weight: bold;
  color: skyblue;
  font-family: "doto", sans-serif;
}
.improveVLetter {
  font-size: 25px;
  color: rgb(0, 100, 150);
  font-family: "My soul", sans-serif;
}
.improveELetter {
  font-size: 45px;
  color: deeppink;
  font-family: "Sixtyfour", sans-serif;
}

/* THEIR word */

.theirTLetter {
  color: yellow;
}
.theirHLetter {
  font-size: 50px;
  color: red;
  font-family: "Piazzolla", sans-serif;
}
.theirELetter {
  font-size: 15px;
  font-weight: 300;
  font-family: "My soul", sans-serif;
}
.theirILetter {
  font-size: 35px;
  color: orange;
  font-family: "doto", sans-serif;
}
.theirRLetter {
  font-size: 25px;
  font-weight: 700;
  color: orangered;
  font-family: sans-serif;
}

/* ROOT word */

.rootRLetter {
  color: brown;
}
.rootOLetter {
  font-size: 25px;
  font-weight: 700;
  color: salmon;
  font-family: "My soul", sans-serif;
}
.rootOTwoLetter {
  font-size: 50px;
  font-weight: 500;
  color: tomato;
  font-family: "Sixtyfour", sans-serif;
}
.rootTLetter {
  font-size: 30px;
  font-weight: 300;
  color: black;
  font-family: "Piazzolla", sans-serif;
}

/* SKILLS word */

.skillsSLetter {
  color: cyan;
}
.skillsKLetter {
  font-size: large;
  color: lime;
  font-family: "My soul", sans-serif;
}
.skillsILetter {
  font-size: 45px;
  color: red;
  font-family: "Piazzolla", sans-serif;
}
.skillsLLetter {
  font-size: 60px;
  color: deeppink;
  font-family: "Sixtyfour", sans-serif;
}
.skillsLTwoLetter {
  font-size: 70px;
  color: deepskyblue;
  font-family: sans-serif;
}
.skillsSTwoLetter {
  font-size: 25px;
  color: green;
  font-family: "Raleway dot", sans-serif;
}

/* SYMBOLS */

.hyphen {
  font-size: 50px;
  text-decoration: line-through;
}
.exclamation-mark {
  font-size: 35px;
  color: red;
  font-family: "My soul", sans-serif;
}
.question-mark {
  font-size: 40px;
  font-weight: 200;
  color: black;
  font-family: "Ballet", sans-serif;
}
